<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<span th:text="${usuario.nombre}"></span>
<span th:text="${usuario.apellido}"></span> 
<br>
<!-- Note the lack of brackets when printing out text. -->
<span th:if="${usuario.email}" th:text="${usuario.email}"></span>
<!-- En este caso al ser literal el texto se podria poner tal cual dentro de la etiqueta span. -->
<span th:if="${usuario.email == null}" th:text="'El usuario no tiene correo.'"></span>
</body>
</html>